@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #ffffff;
  --fg: #000000;
}

html.dark {
  --bg: #0a0a0a;
  --fg: #ffffff;
}

html {
  background-color: var(--bg);
  color: var(--fg);
  transition: background-color 150ms linear, color 150ms linear;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  min-height: 100vh;
}
