.footer {
  position: relative;
  background: #05b3a4;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 35%;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  list-style: none;
  padding: 0;
}

.menuItem {
  list-style: none;
}

.menuLink {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  opacity: 0.75;
  transition: 0.5s;
}

.menuLink:hover {
  opacity: 1;
}

/* Waves */
.waves {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  overflow: hidden;
}

.wave {
  position: absolute;
  width: 100%;
  height: 100px;
  background: url("https://i.imgur.com/ZAts69f.png");
  background-size: 1000px 100px;
}

.wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite;
}

.wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-position-x: 0;
  }
}
